@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

:root {
	--font: 'Lato', sans-serif;
	--color: #3c3c3c;
}

* {
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	box-sizing: border-box;
	transition: all .3s ease-in-out;
}

img {
	max-width: 100%;
	height: auto;
}

html {
	height: 100%;
	scroll-behavior: smooth;
}

body, html {
	min-height: 100%;
	width: 100%;
}

.clear::after, .clear::before {
	content: " ";
	display: table;
}

.clear::after {
	clear: both;
}

/* Main Styles */
body {
	font: 300 16px/24px var(--font);
	color: var(--color);
}

.container {
	width: 100%;
	max-width: 930px;
	padding: 0 15px;
	margin: 0 auto;
}

.hidden {
	display: none;
}

.header {
	background: url('../images/hero-bg.jpg') no-repeat top center;
	background-size: cover;
	text-align: center;
	color: #fff;
	height: 100vh;
	min-height: 730px;
	padding-bottom: 115px;
	text-transform: uppercase;
}

.header__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	position: relative;
	padding-bottom: 115px;
}

.header__title {
	font-size: 54px;
	font-weight: 700;
	line-height: 60px;
	letter-spacing: 10px;
	margin-bottom: 35px;
}

.header__desc {
	font-size: 15px;
	line-height: 29px;
	letter-spacing: 1px;
}

.logo {
	margin-bottom: 80px;
}

.logo__icon {
	width: 70px;
	height: 70px;
	color: #fff;
	fill: currentColor;
	transition: none;
}

.logo__icon:hover {
	color: var(--color);
}

.scroll {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

.scroll__icon {
	width: 40px;
	height: 40px;
	transition: none;
	fill: #fff;
}

.scroll__icon:hover {
	fill: var(--color);
}

.skills {
	padding: 115px 0;
}

.wrapper {
	border: 2px solid;
	border-top: none;
	text-align: center;
}

.wrapper--white {
	color: #fff;
}

.wrapper__title {
	font-weight: 700;
	font-size: 34px;
	line-height: 40px;
	letter-spacing: 10px;
	text-transform: uppercase;
	position: relative;
	top: -20px;
	margin-bottom: 40px;
}

.wrapper__title::before,
.wrapper__title::after {
	content: '';
	height: 2px;
	width: 26%;
	background: currentColor;
	position: absolute;
	top: 50%;
}

.wrapper__title::before {
	left: 0;
}

.wrapper__title::after {
	right: 0;
}

.skill {
	margin-bottom: 80px;
	padding: 0 19%;
}

.skill__icon {
	width: 70px;
	height: 70px;
	margin-bottom: 40px;
	fill: var(--color);
}

.skill__title {
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 5px;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.about {
	padding: 160px 0;
}

.about__wrapper {
	padding: 0 20%;
}

.about__text {
	margin-bottom: 30px;
}

.services {
	padding: 125px 0 110px;
	background: url('../images/services.jpg') no-repeat top center;
	background-size: cover;
}

.services__text {
	padding: 0 20% 30px;
}

.contact {
	padding: 140px 0 70px;
}

.contact__text {
	padding: 0 20% 35px;
}

.button {
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
	background: var(--color);
	color: #fff;
	text-decoration: none;
	display: block;
	margin: 0 27% 50px;
	padding: 18px;
	letter-spacing: 5px;
	border: 2px solid var(--color);
}

.button:hover {
	color: var(--color);
	background: #fff;
}

.footer {
	text-align: center;
	padding-bottom: 65px;
}

.footer-logo__icon {
	display: inline-block;
	width: 35px;
	height: 35px;
	color: var(--color);
	fill: currentColor;
	vertical-align: middle;
}

.footer__copyright {
	display: inline-block;
	margin-left: 40px;
	font-size: 14px;
	font-weight: 400;
}

.works {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.works__item {
	width: 28.65%;
	height: 235px;
	overflow: hidden;
	position: relative;
	margin-bottom: .5%;
}

.works__item--big {
	width: 41.67%;
}

.works__img {
	min-width: 100%;
	min-height: 100%;
	max-width: none;
	transition: all 1s ease-in-out;
}

.works__item:hover .works__img {
	transform: scale(1.1);
}

.works__title {
	position: absolute;
	bottom: 35px;
	left: 35px;
	text-transform: uppercase;
	font-size: 34px;
	font-weight: 700;
	letter-spacing: 5px;
	color: #fff;
}
